body {
    text-align: center;
    background-color: #ebeff5;
    font-family: 'Roboto', sans-serif;
}

.assignment-page-div {
    display: flex;
    justify-content: center;
}

.assignment-main-div {
    width: 60%;
}

.assignment-main-title {
    font-family: 'Roboto Slab', serif;
    color: #395785;
    font-size: 48px;
}

.assignment-main-description {
    text-align: left;
}

.back-button {
    background-color: #395785;
    color: white;
    height: 36px;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #5c7fb3
}